BODY {
	FONT-SIZE: 9pt; COLOR: darkblue
}
TABLE {
	FONT-SIZE: 9pt; COLOR: darkblue
}
A:link {
	COLOR: royalblue; TEXT-DECORATION: none
}
A:visited {
	COLOR: royalblue; TEXT-DECORATION: none
}
A:active {
	COLOR: royalblue; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.b1 {
	BORDER-RIGHT: darkslateblue 1pt solid; BORDER-TOP: darkslateblue 1pt solid; BORDER-LEFT: darkslateblue 1pt solid; CURSOR: hand; BORDER-BOTTOM: darkslateblue 1pt solid; HEIGHT: 15pt; BACKGROUND-COLOR: transparent
}
INPUT {
	FONT-SIZE: 9pt; COLOR: royalblue
}
SELECT {
	COLOR: royalblue
}
