BODY
{
    COLOR: darkblue;
    FONT-SIZE: 9pt
}
TABLE
{
    COLOR: darkblue;
    FONT-SIZE: 9pt
}
A:link
{
    COLOR: royalblue;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: royalblue;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: royalblue;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: red;
    TEXT-DECORATION: underline
}
.b1
{
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: darkslateblue 1pt solid;
    BORDER-LEFT: darkslateblue 1pt solid;
    BORDER-RIGHT: darkslateblue 1pt solid;
    BORDER-TOP: darkslateblue 1pt solid;
    
    CURSOR: hand;
    HEIGHT: 15pt
}
INPUT
{
    COLOR: royalblue;
    FONT-SIZE: 9pt
}
SELECT
{
    COLOR: royalblue
}
